html {
  color-scheme: light;
  --mainbackground: white;

  --li-background: #f0f0f0;
  --li-hover-background: #e0e0e0;
  --li-border-color: #ccc;

  --chordcolor: #005cbf;
  --capocolor: blue;
  --labelcolor: ;
  --textcolor: ;

  --menu-width: 30%;
  --menu-animation-duration: 0.5s;
}

/* --------------------- Page format ------------------------------- */

div {
  transition: all 0.3s ease-in-out;
}

.songbook-header,
.editor-header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.form-item {
  margin-bottom: 1em;
}

.site-name {
  text-align: center;
  flex-grow: 1;
}

.close-btn {
  align-self: flex-start;
  cursor: pointer;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-btn {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* ---------------------                        Songbook format                          ------------------------------- */

#div-songbook-menu {
  width: var(--menu-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: all var(--menu-animation-duration) ease-in-out;
  transform: translateX(-100%);
  background-color: wheat;
  z-index: 5;
}

#div-songbook-menu.open {
  transform: translateX(0);
}

#div-songbook-menu-icon {
  position: relative;
  z-index: 999;
  height: 100%;
  width: 100%;
  left: 0;
  transition: all var(--menu-animation-duration) ease-in-out;
}

#div-songbook-menu-icon.open {
  transform: translateX(30vw);
}

#songbook-menu-btn {
  height: 40px;
  width: 40px;
  padding: 0.5em;
}

#form-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

#div-songbook-content {
  width: auto;
  height: auto;
  transition: all var(--menu-animation-duration) ease-in-out;
}

#div-songbook-content.open {
  width: 70%;
  position: relative;
  left: var(--menu-width);
}

.songbook-list {
  height: 70%;
  width: 90%;
  padding: 1em;
}

#songbook-list {
  height: 100%;
  width: 100%;
}

.div-main-section {
  padding-top: 4rem;
}

ul#songbook-list-ul {
  list-style-type: none;
  padding: 0;
}

ul#songbook-list-ul li {
  height: 100%;
  overflow: auto;
  padding: 2px;
  padding-left: 6px;
  margin-bottom: 2px;
  background-color: var(--li-background);
  border: 1px solid var(--li-border-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul#songbook-list-ul li:hover {
  background-color: var(--li-hover-background);
}

/* ---------------------                        Chords format                          ------------------------------- */
.chords-header {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  position: fixed;
  width: 100vw;
}

/* ---------------------                        Page format                          ------------------------------- */

main {
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

/* ---------------------                        Chords format                          ------------------------------- */

#song-form label,
#song-form input,
#song-form textarea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#song-form input,
#song-form textarea {
  margin-left: 20px;
}

#song-form input {
  width: 30%;
}

#song-form textarea {
  width: 80%;
  resize: none;
}

#song-form input[type="submit"] {
  padding: 1%;
  margin-top: 20px;
  width: auto;
  box-shadow: 3px 0px 5px black;
}

main#editor-main {
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 20px;
  background-color: lightgray;
  box-shadow: 3px 0px 5px black;
}

div.form-line {
  display: flex;
}

/* ----------------------------------------------------------- */

p {
  margin: 0;
  padding: 0;
  min-height: 0.5em;
  padding-right: 3em;
}

.main-container {
  /*position: relative;*/
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.menu {
  width: var(--menu-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white; /*TODO: change to dynamic color*/
  padding: 20px;
  transition: all 0.3s ease;
  overflow: auto;
  transform: translateX(-100%);
}

.menu.open {
  transform: translateX(0);
}

.main-menu-icon {
  height: 100%;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

.main-menu-icon.open {
  transform: translateX(30%);
}

#main-menu-btn {
  /*float: right;*/
  height: 40px;
  width: 40px;
  padding: 0.5em;
}

.right-side {
  position: absolute;
  top: 0;
  left: 5%;
  width: 95%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

#filter-container {
  padding: 1em;
  width: 90%;
}

#song-list {
  height: 100%;
  width: 100%;
}

div.song-info {
  padding: 2px;
}

div.inner-menu {
  height: 95%;
  padding: 0.5em;
}

div#songbook-author {
  padding: 0.5em;
  text-align: center;
}

div#songbook-name {
  padding: 0.5em;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

div#songbook-text {
  /* padding: 0.5em; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.3;
  font-size: 1.07em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80vh;
  /* align-content: center; */
  transition: all var(--menu-animation-duration) ease-in-out;
}

div#song-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.hidden {
  display: none;
}

.hidden {
  display: none;
}

span.label {
  color: var(--textcolor);
  font-weight: 700;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

span.chord {
  color: var(--chordcolor);
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  position: relative;
  top: -0.8em;
  margin-top: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

span.capo {
  color: var(--capocolor);
  font-weight: bold;
}
